[submodule "kernel/fayt"]
	path = kernel/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/scheduler/fayt"]
	path = servers/scheduler/fayt
	url = https://github.com/ethan4984/fayt.git
	branch = cpp
[submodule "servers/sched/fayt"]
	path = servers/sched/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/fs/vfs/fayt"]
	path = servers/fs/vfs/fayt
	url = https://github.com/ethan4984/fayt
[submodule "servers/io/nvme/fayt"]
	path = servers/io/nvme/fayt
	url = https://github.com/ethan4984/fayt
